*.iml
.gradle
/local.properties
/.idea/*
!/.idea/codeStyles
!/.idea/inspectionProfiles
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
**/build/
*.apk
*.aab
*.keystore
/app/release/
/app/debug/
